<!-- 상단바 -->
<div class="bar">
    <div class="small_logo">
        <a href="/">
            <img src="../../static/image/logo.png" alt="logoimage" style="width: 90px; height: 45px;">
        </a>
    </div>
    <div style="width: 85%; text-align: center;">
        <form class="bar_search" id="searchForm" method="post" action="{% url 'process_input' %}">
            {% csrf_token %}
            <input class="bar_search2" type="text" name="input_value"
                    placeholder="유튜브 채널명을 입력하세요" aria-label="Search">
            <button class="bar_btn" id="btn-search" type="submit">
                <img src="../../static/image/search_icon.png" alt="" style="width: 20px; height: 20px;">
            </button>
        </form>
    </div>
</div>
