{% extends 'base/base.html' %}
{% block content %}
    {% include 'base/navbar.html' %}
    {% if video_info %}
        <!-- 썸네일 바 -->
        <div class="Thumbnail_bar">
            <img class="Thumbnail_image" src={{video_info.0.3}}>
            <div style="width: 70%">
                <p class="vedio_name">{{video_info.0.1}}</p>
                <p class="vedio_views"><small>조회수: {{video_info.0.4}} </small></p>
                <p class="vedio_views"><small>좋아요: {{video_info.0.0}}</small></p>
            </div>
        </div>
        <div class="bad">
            <p class="comment_count">전체 댓글수: {{video_info.0.2}}</p>
            <a href=javascript:window.history.back();>
                <input class="bad_bad" name="transform_comment">
                <button class="bad_comment">전체댓글</button>
            </a>
        </div>
    {% else %}
        <p>영상을 찾지 못하겠습니다.</p>
    {% endif %}
        {% if comments %}
            <div class="full">
                <div class="left_comment">
                {% for values in comments %}
                    {% if values.4 == 1 %}
                        <!-- 댓글 -->
                        <div class="comment_box" style="line-height: 75%;">
                            <b><p class="idname">[{{values.1}}]</p></b>
                            <p class="real_comment">{{values.0}}</p>
                            <i class="fa-regular fa-thumbs-up" style="color: #ff3333; font-size: 20px;"></i>{{ values.3 }}
                            | {{ values.2 }}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="right_comment">
                     <div class="bad_rank ">
                        <p class="key">자주 언급된 키워드</p>
                        {% if keyword %}
                            <ol>
                            {% for key, word in keyword.items %}
                                {% if forloop.counter <= 5 %}
                                    <li>{{ key }} - {{ word }}번</li>
                                {% else %}
                                    <p>sdf</p>
                                {% endif %}
                            {% endfor %}
                            </ol>
                        {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <p>업로드된 영상이 없습니다.</p>
    {% endif %}
{% endblock %}
