{% extends 'base/base.html' %}
{% block content %}
    {% if result_dict %}
        {% for key, value in result_dict.items %}
            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'comments_view' %}">
                {% csrf_token %}
                <figure>
                    <!--thumbnail-->
                    <input type="hidden" id="myValue1" name="video_id" value={{value.0}}>
                    <input type="hidden" id="myValue2" name="video_thumbnail" value={{value.1}}>
                    <input type="hidden" id="myValue3" name="video_title" value={{value.2}}>
                    <input type="image" src={{value.1}} alt="Submit" height="220">
                    <br>
                    <!--title-->
                    <figcaption style="display: inline-block;">{{value.2}}</figcaption>
                </figure>
            </form>
        {% endfor %}
    {% else %}
        <p>업로드된 영상이 없습니다.</p>
    {% endif %}
{% endblock %}

<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 10px;
}
</style>
