{% extends 'base/base.html' %}
{% block content %}
    <div style="text-align: center;" >
        <div class="logo">
            <img src="../../static/image/logo.png" alt="My Image" style="width: 300px; height: 150px;">
        </div>

        <form class="form_a" id="searchForm" method="post" action="{% url 'process_input' %}">
        {% csrf_token %}
            <input class="input_search" type="text" name="input_value"
                   placeholder="유튜브 채널명을 입력하세요" aria-label="Search">

            <button class="btn btn-outline-success" id="btn-search" type="submit">
                <img src="../../static/image/search_icon.png" alt="" style="width: 20px; height:20px;">
            </button>
        </form>
    </div>
{% endblock %}
